.cart{
    margin: 10px 50px;
}

.cart__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart__item{
    display: flex;
    justify-content:space-between;
    border: #ddd solid 1px;
    margin: 10px 0;
    align-items: center;
    background: white;
}
.cart__price{
    color: #3CB815;
    font-weight: 600;
}
.cart__total{
    color: #3CB815;
    font-size: 22px;
    font-weight: 500;
}
.cart__content{
    display: flex;
    align-items: center;
}

.cart__image {
    margin-right: 30px;
}
.cart__image img{
    width: 200px;
    aspect-ratio: 4/3;
    height: auto;
}

.cart__quantity{
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.cart__quantity input{
    margin: 0 5px;
    width: 50px;
}

.cart__value {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.cart__pay-box{
    margin-top: 20px;
}
.cart__pay-button{
    margin-bottom: 10px;
    background: #3CB815;
    border-radius: 25px;
    height: 40px;
    border: none;
    color: white;
}

.cart__pay-button:hover{
    margin-bottom: 10px;
    background: #FF7800;
    border-radius: 25px;
    height: 40px;
    border: none;
    transition: 0.3s ease;
    cursor: pointer;
    color: white;
}

.cart_clear button{
    border-radius: 25px;
    cursor: pointer;
}

.cart__pay-box a{
    color: white;
}