.cart{
    margin: 50px 50px;
}
.cart__buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px 20px 20px;
}
.cart__item{
    display: flex;
    justify-content:space-between;
    border: #ddd solid 1px;
    margin: 10px 0;
    align-items: center;
    background: white;
}

.cart__price{
    color: #3CB815;
    font-weight: 600;
}

.cart__total{
    color: #3CB815;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0;
}
.cart__image{
    width: 120px;
}
.cart__image img{
    width: 100%; 
    object-fit: cover;
    aspect-ratio: 4/3;
}

.cart__quantity{
    display: flex;
    align-items: center;
}

.cart__quantity input{
    margin: 0 5px;
    width: 50px;
    text-align: center;
    border: none;
    font-size: 16px;
    background: none;
}

.cart__value {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.cart__table  th {
    text-align: start;
    border-bottom: #ddd 1px solid;
    
}

.cart__table  td {
    cursor: pointer;
    text-align: start;
    border-bottom: #ddd 1px solid;
}

.cart__section{
    position: relative;
    background-image: url(../../Layout/LayoutDefault/images/breadcrumb.jpg);
    height: 160px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@media (max-width:576px) {
    .cart__section{
    height:190px;
    }
}

@media (min-width:768px) {
    .cart__section{
    height: 230px;
    }
}
@media (min-width:992px) {
    .cart__section{
    height: 250px;
    }
}

@media (min-width:1200px) {
    .cart__section{
    height: 300px;
    }
}