/* header CSS */
.Layout-default__main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.home-icon{
    font-size: 23px;
    text-decoration: none;
    color: #3CB815;
}

.drawer-title{
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.drawer-title a{
    color: #3CB815;
}
.ant-drawer-body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-bars{
    font-size: 22px;
    text-decoration: none;
    color: #3CB815;
}
.Layout-default__header{
    background-color: #fff;
    padding: 0;
    margin: 0;
    border-bottom: #d8c9c9 solid 1px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100000;
}
a{
    text-decoration: none;
}

.Layout-default__wrap{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Layout-default__logo img{
    aspect-ratio: 4/3;
    height: 80px;
    width: auto;

}

.Layout-default__item ul  {
    display: flex;
    text-decoration: none;
    list-style-type: none;
}
.Layout-default__main{
    padding: 30px 0;
    background: #F9FBFD;
}

.Layout-default__footer{
    padding: 60px 0;
    background-color: rgb(226, 242, 178);
}

.Layout-default__item ul li a{
    margin: 20px;
    text-decoration: none;
}

.Layout-default__account {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Layout-default__account a{
    margin-left: 10px;
    text-decoration: none;
}

.Layout-default__menu a{
    color: black;
    font-weight: 500;
    margin:0 20px;
    text-decoration: none
}
.Layout-default__bar{
    display: none;
}
.Layout-default__menu-mobile ul {
    padding: 0;
    margin: 0;
}
.Layout-default__menu-mobile ul li{
    font-size:16px;
    margin: 20px 0;
    font-weight: 600;
    /* padding: 0;
    margin: 0; */

} 
.Layout-default__bar ul{
    display: none;
    padding: 0;
    /* position: fixed;
    background-color: rgb(226, 242, 178);
    height: 100vh;
    top: 0;
    left: 0px;
    width: 250px; */
}
.Layout-default__bar li{
    list-style-type: none;
}
/*  end header css */ 


/*  main css */ 
.Layout-default__main{
    margin: 30px 0 0 0;
}
/* end main CSS */



/* footer CSS */
.Layout-default__footer li{ 
    list-style-type: none;
    padding: 5px 0;
    font-size: 18px;
}
.Layout-default__footer ul{
    padding: 0;
    margin: 0;
}
.Layout-default__footer a{
    color: black;
    display: flex;
    align-items: center;
}

.Product-page__layout{
    margin-top: 30px;
}
.footer__name{
    font-size: 22px;
    font-weight: 600;
}

.footer__text{
    font-size: 16px;
    max-width: 85%;
}
.fa-user-gear{
    color: #3CB815;
    font-size: 20px;
    margin-right: 5px;
}

.fa-facebook{
    color: #3CB815;
    font-size: 20px;
    margin-right: 5px;
}
.fa-telegram{
    color: #3CB815;
    font-size: 20px;
    margin-right: 5px;
}
.fa-twitter{
    color: #3CB815;
    font-size: 20px;
    margin-right: 5px;
}

.fa-location-dot{
    color: #3CB815;
    font-size: 20px;
    margin-right: 10px;
}

.fa-phone{
    color: #3CB815;
    font-size: 20px;
    margin-right: 5px;
}

.fa-envelope{
    color: #3CB815;
    font-size: 20px;
    margin-right: 5px;
}



@media (max-width:576px){
    .Layout-default__bar{
        display: block;
    }
    .Layout-default__menu{
        display: none;
    }
    .Layout-default__account a{
        margin-left: 0;
    }
    .Layout-default__login{
        display: none;
    }


}

